<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center;">
  <alert type="Info">
    <h1 style="font-family: Ubuntu ">Ave Maria Convent</h1>
    <h4 id="special">Negombo</h4>
    <a href="http://www.google.com">Search about the school</a>
  </alert>
  <hr>
  
  </div>
  <div>
  <p style="background-color: rgba(136, 131, 206, 0.459)">This is the first paragraph which i use background colors</p>
  <p style="text-align:center;color: blue;font-size: 18px;font-family: cursive">
   
    <img src="D:\AngularNew\login\download.jpg" alt="This picture is not dispalyed">
  </p>
</div>
<div style="border:2px solid black ;padding: 30px;margin: 150px;">
  <h3>Student Details:</h3>
  <ul>
    <li>Name : ............................................</li>
    <li>Address : .........................................</li>
  </ul>

</div>